html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif, Arial;
    font-size: 1.6rem;
    line-height: 2;
    width: 100%;
    margin: 0 auto;   
}

img{
    max-width: 100%;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem
}

p{
    font-size: 2rem
}

.titulo-vitae{
    text-align: center;
    margin: 6rem auto;
}

.container{    
    display: grid;
    grid-template-columns: 1fr 1fr;      
    margin: 4rem 2.5rem;
    height: auto;  
    color: #fff;

    @media (max-width: 877px) {
        &{         
            grid-template-columns: 1fr;        
        }
    }
}

@import 'mis-datos';
@import 'mis-habilidades';